<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css'%}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- templates/navbar.html -->
   
 

    <div>
      <!-- templates/bug_table.html -->
      {% if rows %}
      <h3> Bugs </h3>
      <table>
        <thead>
          <tr>
            <th>Bug Id</th>
            <th>Bug Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Workflow</th>
            <th>Severity</th>
            <th>Steps to Reproduce</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="item-list">
          {% for item in rows %}
          <tr>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
            <td>{{ item.2 }}</td>
            <td>{{ item.3 }}</td>
            <td>{{ item.4 }}</td>
            <td>{{ item.5 }}</td>
            <td>{{ item.6 }}</td>
            <td>
              <form action="/bug_comments/" method="post">
              {% csrf_token %}
              <input type="hidden" name="bug_id" id="bug_id" value="{{ item.0 }}">
              <button type="submit" class="view-details">View Details</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>No bugs raised for this bugs yet</h3>
      {% endif %}
    </div>

    

  </body>
</html>
